@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* almarai-regular - arabic */
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/almarai-v11-arabic-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('./assets/fonts/almarai-v11-arabic-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('./assets/fonts/almarai-v11-arabic-regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('./assets/fonts/almarai-v11-arabic-regular.woff') format('woff'),
      /* Modern Browsers */ url('./assets/fonts/almarai-v11-arabic-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('./assets/fonts/almarai-v11-arabic-regular.svg#Almarai') format('svg'); /* Legacy iOS */
  }
}
